@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

@keyframes Transition{
  from {
    padding: 0 10px 0 10px;
    opacity: 0;
    background-color: white;
  }
  to {
    opacity: 1;
    background-color: white;
  }
}

@keyframes Transition-Img{
  from {
    opacity: 0;
    padding: 100px 200px 100px 200px;
  }
  to {
    opacity: 1;
  }
}

body {
  font-family: "Poppins", sans-serif;
  background-color: #d0d0ce;

}

.brand-wrapper {
  margin-bottom: 19px; 
}
  .brand-wrapper .logo {
    width: 150px;
    height: 150px; 
    display: flex;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
  }

.login-card {
  animation-name: Transition;
  animation-duration:2s;
  border-radius: 25px;
  box-shadow: 0 10px 30px 0 rgba(172, 168, 168, 0.43);
  overflow: hidden; 
  height:100%;
  transition: 1s;
}
  .login-card-img {
    animation-name: Transition-Img;
    animation-duration:1s;
    border-radius: 0;
    position: absolute;
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
       object-fit: cover; 
      }

      .text-img {
        position:absolute !important;
        position: relative;
        margin-left: 50px;
        margin-top: 40px;
        z-index: 1;
      }
      

  .login-card .card-body {
    animation-name: Transition;
  animation-duration:2s;
    padding: 5px 60px 0px;

  }
    @media (max-width: 422px) {
      .login-card .card-body {
        padding: 35px 24px; } 
      }
  .login-card-description {
    font-size: 35px;
    color: #003E3A;
    margin-bottom: 23px;
    font-weight: 700;
   }
  .login-card form {
    max-width: 1000px; 
  }
  .login-card .form-control {
    border: 2px solid #006180;
    padding: 20px 25px;
    margin-bottom: 20px;
    min-height: 50px;
    font-size: 13px;
    font-weight: normal; 
    border-radius: 50px;
  }

  .login-card:hover {
    transform: translateY(-5px) scale(1.005) translateZ(0);
    box-shadow: 0 24px 36px rgba(0,0,0,0.11),
      0 20px 50px rgba(0, 0, 0, 0.48);
      transition: 1s;
  }

    .login-card .form-control::-webkit-input-placeholder {
      color: #919aa3; 
    }
    .login-card .form-control::-moz-placeholder {
      color: #919aa3; 
    }
    .login-card .form-control:-ms-input-placeholder {
      color: #919aa3; 
    }
    .login-card .form-control::-ms-input-placeholder {
      color: #919aa3; 
    }
    .login-card .form-control::placeholder {
      color: #919aa3; 
    }
    .form-control:focus {
        border-color: #0c63b5;
        box-shadow: 0px 5px 0px 0px #0c63b5;
        transition: 0.6s;
    } 
  .login-card .login-btn {
    padding: 13px 20px 12px;
    background: #00789E;
    border: 3px solid #005873;
    border-radius: 20px;
    font-size: 17px;
    font-weight: bold;
    line-height: 20px;
    color: #fff;
    margin-bottom: 24px; 
  }
    .login-card .login-btn:hover {
      border: 3px solid #005873;
      background-color: transparent;
      color: #000; 
    }
    .login-card .login-btn:focus {
        border-color: #0c63b5;
        box-shadow: 0px 4px 0px 0px #0c63b5;
        transition: 0.6s;
    }
  .login-card .forgot-password-link {
    font-size: 14px;
    color: #919aa3;
    margin-bottom: 12px; }
  .login-card-footer-text {
    font-size: 16px;
    color: #0d2366;
    margin-bottom: 60px; }
    @media (max-width: 767px) {
      .login-card-footer-text {
        margin-bottom: 24px; } }
  .login-card-footer-text a {
    font-size: 15px;
    color: #005F59;
    font-weight: bold;
  }

  nav.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 10%;
    position: sticky;
    top: 0;
    background-color: #18385F;
    width: 100%;
    height: 90px;
    z-index: 10;
  }
  
  .nav-item {
    list-style: none;
    text-decoration: none;
    align-items: center;
    padding: 0;
    margin-left:40px;
    margin-top: 15px;
  }
  
  li.nav-link {
    display: inline-block;
    padding: 10px 20px;
    text-decoration: none;
    
  }
  
  
  li a.nav-link {
    display: inline-block;
    transition: all 0.8s;
    color: #ffffff;
    text-decoration: none;
    font-weight: 700;
    font-size: 15px;
    line-height: 22px;
    padding: 13px 11px;
  }
  
  li a.nav-link:hover {
    color: #ffffff;
    text-decoration: none;
    background: #6899d141;
    transition: 0.8s;
    border-radius: 10px;
    transform: scale(1.1);
  }
  /*----------------------------------*/
  
  
  
  /*----------------------------------*/
  /* Btn Login */
  div.loginopt .btn-login button {
    background-color: #22989B;
    width: 120px;
    height: 60px;
    margin:auto;
    border-radius: 10px;
    border:#0d7b7c 4px solid;
    color: #ffffff;
    transition: 0.7s;
    }
  
    div.loginopt .btn-login button font {
        font-size:17px;
        font-weight: 700;
        }
  
        div.loginopt .btn-login button:hover {
            background-color: #177f80;
            width: 120px;
            height: 60px;
            margin:auto;
            border-radius: 10px;
            border:#0d7b7c 4px solid;
            color: #ffffff;
            transition: 0.7s;
            transform: scale(1.04);
            }
  /*----------------------------------*/
  
  
  /* Footer */
  
  section, footer	 {
      
    left: 0;
    bottom: 0;
    width: 100%;
    text-align: center;
     background-color: #162E44;
  }
  
  section.footer i a {
     color: white;
  }
  
  .btn-footer {
  height: 32px;
  background: #00DCC4;
  border-radius: 20px;
  color: white;
  font-weight: bold;
  border: 1px solid #00DCC4;
  }
  
  .btn-footer {
     height: 32px;
     background: #00DCC4;
     border-radius: 20px;
     color: white;
     font-weight: bold;
     border: 2px solid #00DCC4;
     box-shadow: 0px 7px 0px 0px #006d61;
     transition: 0.3s;    
  }
  
  .btn-footer a {
     color: white;
     text-decoration: none;
  }
  
     .btn-footer:hover{
         background-color:#00DCC4;
         border: 2px solid #00DCC4;
       box-shadow: 0px 7px 0px 0px #006d61;
         transform: scale(1.08);
         transition: 0.3s;
     }